[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Parachain node runtime primitives"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "crab-redirect-primitives"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/parachain/"
version     = "3.0.0"

[dependencies]
# Substrate
sp-core    = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }

[features]
default = ["std"]

std = ["substrate-primitives-std"]

substrate-primitives-std = [
	"sp-core/std",
	"sp-runtime/std",
]
