[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Parachain node runtime primitives"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "darwinia-pc2-primitives"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/parachain/"
version     = "1.2.0"

[dependencies]
# substrate
sp-core    = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }

[features]
default = ["std"]

std = ["substrate-primitives-std"]

substrate-primitives-std = [
	"sp-core/std",
	"sp-runtime/std",
]
