# System
.DS_Store

# Integrated Development Environment
.idea
.vscode

# Package Manager
## Cargo
target
## Npm
node_modules

# Test Data
## Chain data
data
## Rococo Local Testnet
res/crab-redirect-dev.*
res/darwinia-redirect-dev.*
tests/bin
tests/deploy.bin
tests/local-testnet/data
tests/local-testnet/log
