[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
build       = "build.rs"
description = "Darwinia Runtime Module Library Node"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "drml"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.0.0"

[[bin]]
name = "drml"
path = "src/main.rs"

[dependencies]
# Crates
array-bytes = { version = "1.1.0" }
codec       = { package = "parity-scale-codec", version = "2.0.1" }
log         = { version = "0.4.14" }
serde       = { version = "1.0.124", features = ["derive"] }
structopt   = { version = "0.3.21" }
tempfile    = { version = "3.2.0" }

# Darwinia
darwinia-ethereum-relay = { git = "https://github.com/darwinia-network/darwinia-common", branch = "rococo-v1-external-substrate" }

# Parachain dependencies
darwinia-pc2-primitives = { path = "primitives" }
darwinia-pc2-runtime    = { path = "runtime" }

# Substrate dependencies
sc-basic-authorship = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-chain-spec       = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-cli              = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-executor         = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-rpc              = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-service          = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-telemetry        = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-tracing          = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-block-builder    = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-consensus        = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-core             = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-inherents        = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-runtime          = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-timestamp        = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }
sp-trie             = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }

# RPC related dependencies
jsonrpc-core = { version = "15.1.0" }

# Cumulus dependencies
cumulus-client-cli                   = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }
cumulus-client-consensus-relay-chain = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }
cumulus-client-network               = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }
cumulus-client-service               = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }
cumulus-primitives-core              = { git = "https://github.com/paritytech/cumulus", branch = "rococo-v1" }

# Polkadot dependencies
polkadot-cli        = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }
polkadot-parachain  = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }
polkadot-service    = { git = "https://github.com/paritytech/polkadot", branch = "rococo-v1" }

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate", branch = "rococo-v1" }

[workspace]
members = [
	"primitives",
	"runtime",
]
