[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
build       = "build.rs"
description = "Darwinia Runtime Module Library Node"
edition     = "2018"
homepage    = "https://darwinia.network/"
license     = "GPL-3.0"
name        = "crab-redirect"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia-common/"
version     = "2.0.0"

[[bin]]
name = "crab-redirect"
path = "src/main.rs"

[dependencies]
# Crates
array-bytes = { version = "1.1.0" }
codec       = { package = "parity-scale-codec", version = "2.0.1" }
log         = { version = "0.4.14" }
serde       = { version = "1.0.124", features = ["derive"] }
structopt   = { version = "0.3.21" }
tempfile    = { version = "3.2.0" }

# Parachain dependencies
crab-redirect-primitives = { path = "primitives" }
crab-redirect-runtime    = { path = "runtime" }

# Substrate dependencies
sc-basic-authorship           = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-chain-spec                 = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-cli                        = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-client-api                 = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-executor                   = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-keystore                   = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-network                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-rpc                        = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-service                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-telemetry                  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-tracing                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sc-transaction-pool           = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sp-api                        = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sp-block-builder              = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sp-consensus                  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sp-core                       = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sp-inherents                  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sp-runtime                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
sp-timestamp                  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }
substrate-prometheus-endpoint = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }

# RPC related dependencies
jsonrpc-core = { version = "15.1.0" }

# Cumulus dependencies
cumulus-client-cli              = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.4" }
cumulus-client-consensus-aura   = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.4" }
cumulus-client-consensus-common = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.4" }
cumulus-client-network          = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.4" }
cumulus-client-service          = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.4" }
cumulus-primitives-core         = { git = "https://github.com/paritytech/cumulus", branch = "polkadot-v0.9.4" }

# Polkadot dependencies
polkadot-cli        = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.4" }
polkadot-parachain  = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.4" }
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.4" }
polkadot-service    = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.4" }

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.4" }

[workspace]
members = [
	"primitives",
	"runtime",
]
